USE [master]
GO
/****** Object:  Database [SECURESOFT]    Script Date: 12/10/2021 7:23:14 PM ******/
CREATE DATABASE [SECURESOFT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SECURESOFT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SECURESOFT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SECURESOFT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SECURESOFT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SECURESOFT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SECURESOFT]
GO
USE [SECURESOFT]
GO
/****** Object:  Sequence [dbo].[INVOICE_SEQ]    Script Date: 12/10/2021 7:23:14 PM ******/
CREATE SEQUENCE [dbo].[INVOICE_SEQ] 
 AS [bigint]
 START WITH 1000
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[SALE]    Script Date: 12/10/2021 7:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE](
	[INVOICE_NO] [nvarchar](255) NOT NULL,
	[DATE] [date] NULL,
	[CUSTOMER_MOBILE] [nvarchar](50) NULL,
	[TOTAL_AMOUNT] [numeric](18, 2) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SALE_REPO]    Script Date: 12/10/2021 7:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE_REPO](
	[SALE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SALE_INVOICE] [nvarchar](255) NULL,
	[ITEM_ID] [int] NULL,
	[QUANTITY] [int] NULL,
	[SALE_PRICE] [numeric](18, 2) NULL,
 CONSTRAINT [PK_SALE_REPO] PRIMARY KEY CLUSTERED 
(
	[SALE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 12/10/2021 7:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[PURCHASE_PRICE] [numeric](18, 0) NULL,
	[ITEM_NAME] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[SALE] ([INVOICE_NO], [DATE], [CUSTOMER_MOBILE], [TOTAL_AMOUNT]) VALUES (N'INV005', CAST(N'2021-07-22' AS Date), N'01746', CAST(3343.00 AS Numeric(18, 2)))
INSERT [dbo].[SALE] ([INVOICE_NO], [DATE], [CUSTOMER_MOBILE], [TOTAL_AMOUNT]) VALUES (N'INV006', CAST(N'2021-07-22' AS Date), N'3465434', CAST(34.67 AS Numeric(18, 2)))
INSERT [dbo].[SALE] ([INVOICE_NO], [DATE], [CUSTOMER_MOBILE], [TOTAL_AMOUNT]) VALUES (N'INV007', CAST(N'2021-12-09' AS Date), N'+01746943097', CAST(4550.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[SALE_REPO] ON 

INSERT [dbo].[SALE_REPO] ([SALE_ID], [SALE_INVOICE], [ITEM_ID], [QUANTITY], [SALE_PRICE]) VALUES (1, N'INV005', 1, 6, CAST(54445.00 AS Numeric(18, 2)))
INSERT [dbo].[SALE_REPO] ([SALE_ID], [SALE_INVOICE], [ITEM_ID], [QUANTITY], [SALE_PRICE]) VALUES (2, N'INV1001', 5, 1, CAST(2250.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[SALE_REPO] OFF
SET IDENTITY_INSERT [dbo].[STOCK] ON 

INSERT [dbo].[STOCK] ([ITEM_ID], [PURCHASE_PRICE], [ITEM_NAME]) VALUES (1, CAST(656 AS Numeric(18, 0)), N'new')
INSERT [dbo].[STOCK] ([ITEM_ID], [PURCHASE_PRICE], [ITEM_NAME]) VALUES (2, CAST(525 AS Numeric(18, 0)), N'Mobile')
INSERT [dbo].[STOCK] ([ITEM_ID], [PURCHASE_PRICE], [ITEM_NAME]) VALUES (3, CAST(45000 AS Numeric(18, 0)), N'Laptop')
SET IDENTITY_INSERT [dbo].[STOCK] OFF
ALTER TABLE [dbo].[SALE_REPO]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE] FOREIGN KEY([SALE_INVOICE])
REFERENCES [dbo].[SALE] ([INVOICE_NO])
GO
ALTER TABLE [dbo].[SALE_REPO] CHECK CONSTRAINT [FK_INVOICE]
GO
ALTER TABLE [dbo].[SALE_REPO]  WITH CHECK ADD  CONSTRAINT [FK_STOCK] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[STOCK] ([ITEM_ID])
GO
ALTER TABLE [dbo].[SALE_REPO] CHECK CONSTRAINT [FK_STOCK]
GO
/****** Object:  StoredProcedure [dbo].[GET_SALE_DETAILS_SP]    Script Date: 12/10/2021 7:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[GET_SALE_DETAILS_SP] @itemName nvarchar(max)=null
as
select A.SALE_INVOICE, B.DATE, C.ITEM_NAME,B.TOTAL_AMOUNT,A.QUANTITY,C.PURCHASE_PRICE from SALE_REPO A
left join SALE B on A.SALE_INVOICE= B.INVOICE_NO
left join STOCK C on A.ITEM_ID= C.ITEM_ID where ((@itemName IS NULL or @itemName ='') OR (C.ITEM_NAME = @itemName))
GO
USE [master]
GO
